body{
    font-family: 'Gideon Roman', cursive;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.partial-color{
    color: rgb(44, 33, 143);
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
    
    
}
.half-width image{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(orange,red);
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ex{
    padding-left: 2%;
}
.ex-item{
box-shadow: 10px 10px 40px green;
width: 40%;
margin-left: 5%;
margin-right: 5%;
padding:20px;


}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev{
    border-image: linear-gradient(blue,cyan);
    border-left: 7px solid;
    border-image-slice:1;
}
#web-babe{
    border-image: linear-gradient(red,cyan);
    border-left: 7px solid;
    border-image-slice:1;
}
footer p{
    text-align: center;
    font-size: 30px;
}
